* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: relative;
  top: 20%;
  letter-spacing: 1px;
}
.logo img {
  width: 25px;
  margin-left: 8px;
  margin-top: 5px;
}
.img-bg {
  width: 65%;
  background-image: linear-gradient(
      to right,
      rgba(44, 108, 150),
      rgba(113, 195, 247, 0.73),
      rgba(246, 246, 246, 0.73)
    ),
    url("/src/img/chatempty.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}
.main-content {
  width: 35%;
  height: 100vh;
  border: 1px solid white;
}
.btn-group {
  position: relative;
  top: 30%;
}
.btn-group .input-icon {
  padding: 5px;
}
button {
  padding: 15px;
  background-color: white;
  border: 3px solid rgba(246, 246, 246, 1);
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px auto;
  cursor: pointer;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 15px;
}
button i {
  position: relative;
  left: -10px;
  font-size: 15px;
}
.sp-1 {
  font-weight: bold;
  color: rgba(0, 255, 255, 0.815);
}
.p-1 {
  font-weight: bold;
  position: relative;
  top: 25%;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.p-2 {
  margin: 15px 0;
  font-size: 0.8em;
  position: relative;
  top: 35%;
  letter-spacing: 1px;
  text-align: center;
}
.p-2 span {
  margin-left: 10px;
  color: green;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 42%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.err_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35%;
}
.err_message h1 {
  margin-top: 5%;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5%;
}
.err_message button {
  width: 40%;
  margin-top: 10%;
  background: red;
  color: white;
}
.err_message p {
  padding: 2px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5%;
}

form .logo {
  margin-top: 25%;
}
form .p-1 {
  margin-top: 30%;
  margin-bottom: 20%;
}

form .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form .email label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

form .email input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 5%;
  outline: none;
}
form .username {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form .username label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

form .username input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 5%;
  outline: none;
}
form .username .fa-asterisk {
  color: red;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
form .email .fa-asterisk {
  color: red;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
form .phone .fa-asterisk {
  color: red;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
form .password .fa-asterisk {
  color: red;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  position: relative;
  top: -3px;
}
form .phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form .phone label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

form .phone input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 5%;
  outline: none;
}

form .password {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form .password label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

form .password input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  outline: none;
}
form .password i {
  margin-top: -11%;
  margin-right: 30px;
  display: flex;
  align-self: flex-end;
}
form #submit {
  width: 300px;
  margin-top: 10%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ade2d4;
  background: rgba(1, 157, 255, 0.73);
  cursor: pointer;
  color: white;
}
#form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40%;
}
#form-login h1 {
  margin-bottom: 15%;
}
#form-login .email-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#form-login .email-login label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

#form-login .email-login input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 5%;
  outline: none;
}
#form-login .password-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#form-login .password-login label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

#form-login .password-login input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 5%;
  outline: none;
}
form .password-login i {
  margin-top: -16%;
  margin-right: 30px;
  display: flex;
  align-self: flex-end;
}
#form-login #login {
  width: 300px;
  margin-top: 10%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ade2d4;
  background: rgba(1, 157, 255, 0.73);
  cursor: pointer;
  color: white;
}

/* 
MEDIA QUERIES
*/

@media (min-width: 480px) and (max-width: 768px) {
  body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Lato", sans-serif;
  }
  .logo {
    margin: 0;
  }
  .p-2 {
    margin: 15px 0 50px 0;
    font-size: 0.8em;
  }
}

@media (min-width: 769px) {
  body {
    overflow-y: hidden;
  }
  .whole {
    display: flex;
    align-items: stretch;
  }
  .main-content {
    margin: 0 auto;
  }
}
/* CHAT PAGE DESIGN */
#main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.3%;
}
#chat-field {
  width: 92%;
  height: 94vh;
  background: #fff;

  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  box-shadow: white;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 25px;
  border: 20px white;
  display: flex;
}
#chat-field .inbox-space {
  width: 15%;
  height: 94vh;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 25px;
  background-color: #f4f5f7;
  padding: 20px;
}
#chat-field .inbox-space .logo-chat {
  display: flex;
  align-items: center;
  justify-content: left;
}
#chat-field .inbox-space .logo-chat h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
}
#chat-field .inbox-space .logo-chat img {
  width: 30px;
  margin-right: 10px;
  height: 30px;
}
#chat-field .inbox-space .box-chat {
  display: flex;
  align-items: center;
  margin-top: 30%;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}
#chat-field .inbox-space .box-chat .fa-inbox {
  color: blue;
  margin-right: 30px;
  font-size: 20px;
}
#chat-field .inbox-space .box-chat p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
}

#chat-field .chat-space {
  /* padding: 20px; */
  border: 1px solid;
  border-right-color: #f4f5f7;
  border-left-color: white;
  border-bottom-color: white;
  border-top-color: white;
  width: 25%;
  overflow: auto;
}
#chat-field .chat-space::-webkit-scrollbar {
  width: 7px;
}

#chat-field .chat-space::-webkit-scrollbar-track {
  background: #f4f5f7;
}

#chat-field .chat-space::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  border: 2px solid rgb(171, 171, 241);
}
#chat-field .chat-space .header {
  /* border: 1px solid; */
  width: auto;
  padding: 20px;
  background-color: white;
  position: relative;
  z-index: 1;
  position: sticky;
  top: 0;
}

#chat-field .chat-space .header h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
}
#chat-field .chat-space .header .area {
  margin-top: 10%;
  border: 1px solid #f4f5f7;
  border-radius: 8px;
  background-color: #f4f5f7;
  text-align: center;
  padding: 10px;
}
#chat-field .chat-space .header .area h3 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  border: 1px solid white;
  width: 30%;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
  font-size: 15px;
}

#chat-field .chat-space .chat-box {
  display: flex;
  align-items: center;
  margin: 6%;
  border: 2px solid #f4f5f7;
  background-color: #f4f5f7;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

#chat-field .chat-space .chat-box img {
  clip-path: circle();
  max-width: 80px;
  max-height: 80px;
  display: flex;
  align-self: flex-start;
}
#chat-field .chat-space .chat-box .message {
  margin-left: 20px;
}
#chat-field .chat-space .chat-box .message h4 {
  font-family: "Poppins", sans-serif;
}
#chat-field .chat-space .chat-box .message p {
  padding-top: 8px;
  font-family: "Roboto", sans-serif;
}
#chat-field .chat-space hr {
  width: 90%;
  margin: 0 auto;
  position: relative;
  border-color: #f4f5f7;
  top: 3%;
}
#chat-field .width {
  width: 55%;
  background-color: #ffffff;
  background-image: linear-gradient(
    130deg,
    #ffffff 30%,
    #f4f5f7 75%,
    #f4f5f7 79%,
    #f4f5f7 100%
  );
}
#chat-field .width .message-box {
  background-color: #ffffff;
  background-image: linear-gradient(
    130deg,
    #ffffff 30%,
    #f4f5f7 75%,
    #f4f5f7 79%,
    #f4f5f7 100%
  );
  overflow: auto;
  height: 83.1vh;
}
#chat-field .width .message-box::-webkit-scrollbar {
  width: 7px;
}

#chat-field .width .message-box::-webkit-scrollbar-track {
  background: #f4f5f7;
}

#chat-field .width .message-box::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  border: 2px solid rgb(171, 171, 241);
}

#chat-field .width .message-box .top-box {
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #f4f5f7;
  border-top-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
#chat-field .width .message-box .top-box .name {
  display: flex;
  align-items: center;
  position: relative;
  left: 3%;
  padding: 10px;
}
#chat-field .width .message-box .top-box .name img {
  clip-path: circle();
  max-width: 80px;
  max-height: 80px;
  margin-right: 15px;
}
#chat-field .width .message-box .top-box .name .about h4 {
  margin-top: -10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
#chat-field .width .message-box .top-box .name .about h5 {
  padding-top: 1px;
  font-family: "Noto Serif", serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
}
#chat-field .width .message-box .top-box .search-field {
  position: relative;
  left: 20%;
}
#chat-field .width .message-box .top-box .search-field input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #f4f5f7;
  background: #f4f5f7;
  outline: none;
}
#chat-field .width .message-box .top-box .search-field .fa-magnifying-glass {
  position: relative;
  left: -40px;
  color: grey;
  z-index: 10;
  background-color: #f4f5f7;
  width: 30px;
  cursor: pointer;
}
#chat-field .width .message-box .message-section {
  width: 50%;
}
#chat-field .width .message-box .message-section .day {
  position: relative;
  left: 7%;
  top: 25px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
#chat-field .width .message-box .message-section .msg {
  margin-top: 12%;
  width: auto;
  display: flex;
  flex-direction: column;
}
#chat-field .width .message-box .message-section .msg .message1 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: relative;
  left: 340px;
  width: fit-content;
  background-color: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 9px;
  color: black;
  font-family: "Poppins", sans-serif;
  word-break: break-all;
}

#chat-field .width .message-box .message-section .message2 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  position: relative;
  width: fit-content;
  margin-left: 7%;
  background-color: #f4f5f7;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 9px;
  color: black;
  font-family: "Poppins", sans-serif;
  word-break: break-all;
}

#chat-field .width hr {
  width: 85%;
  margin: 1.2% auto;
  border-color: black;
}

#chat-field .width .send-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6%;
}

#chat-field .width .send-area #send {
  width: 75%;
  padding: 9px;
  margin-top: 20px;
  border: none;
  outline: none;
  margin-top: -7px;
  background: transparent;
  font-family: "Poppins", sans-serif;
  overflow: auto;
  resize: none;
}
#chat-field .width .send-area #send::placeholder {
  font-family: "Poppins", sans-serif;
}
#chat-field .width .send-area #send::-webkit-scrollbar {
  width: 7px;
}

#chat-field .width .send-area #send::-webkit-scrollbar-track {
  background: #f4f5f7;
}

#chat-field .width .send-area #send::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  border: 2px solid rgb(171, 171, 241);
}
#chat-field .width .send-area #sendbtn {
  width: 40px;
  height: 40px;
  position: relative;
  right: 10%;
  top: -8px;
  border: 1px solid blue;
  padding: 8px;
  border-radius: 6px;
  background: blue;
  cursor: pointer;
}

#chat-field .icon-logout .fa-right-from-bracket {
  position: relative;
  top: 89%;
  left: 70%;
  border: 1px solid whitesmoke;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}
