* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: relative;
  top: 20%;
  letter-spacing: 1px;
}
.logo img {
  width: 25px;
  margin-left: 8px;
  margin-top: 5px;
}
.img-bg {
  width: 65%;
  background-image: linear-gradient(
      to right,
      rgba(44, 108, 150),
      rgba(113, 195, 247, 0.73),
      rgba(246, 246, 246, 0.73)
    ),
    url("/src/img/chatempty.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}
.main-content {
  width: 35%;
  height: 100vh;
  border: 1px solid white;
}
.btn-group {
  position: relative;
  top: 30%;
}
.btn-group .input-icon {
  padding: 5px;
}
button {
  padding: 15px;
  background-color: white;
  border: 3px solid rgba(246, 246, 246, 1);
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px auto;
  cursor: pointer;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 15px;
}
button i {
  position: relative;
  left: -10px;
  font-size: 15px;
}
.sp-1 {
  font-weight: bold;
  color: rgba(0, 255, 255, 0.815);
}
.p-1 {
  font-weight: bold;
  position: relative;
  top: 25%;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.p-2 {
  margin: 15px 0;
  font-size: 0.8em;
  position: relative;
  top: 35%;
  letter-spacing: 1px;
  text-align: center;
}
.p-2 span {
  margin-left: 10px;
  color: green;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 42%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #000;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.err_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35%;
}
.err_message h1 {
  margin-top: 5%;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5%;
}
.err_message button {
  width: 40%;
  margin-top: 10%;
  background: red;
  color: white;
}
.err_message p {
  padding: 2px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5%;
}

form .logo {
  margin-top: 25%;
}
form .p-1 {
  margin-top: 30%;
  margin-bottom: 20%;
}

form .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form .email label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

form .email input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 5%;
  outline: none;
}
form .username {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form .username label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

form .username input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 5%;
  outline: none;
}
form .phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form .phone label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

form .phone input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 5%;
  outline: none;
}

form .password {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form .password label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

form .password input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  outline: none;
}
form #submit {
  width: 300px;
  margin-top: 10%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ade2d4;
  background: rgba(1, 157, 255, 0.73);
  cursor: pointer;
  color: white;
}
#form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40%;
}
#form-login h1 {
  margin-bottom: 15%;
}
#form-login .email-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#form-login .email-login label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

#form-login .email-login input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 5%;
  outline: none;
}
#form-login .password-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#form-login .password-login label {
  display: flex;
  align-self: left;
  margin-bottom: 10px;
}

#form-login .password-login input {
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  border: 2px solid black;
  margin-bottom: 5%;
  outline: none;
}
#form-login #login {
  width: 300px;
  margin-top: 10%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ade2d4;
  background: rgba(1, 157, 255, 0.73);
  cursor: pointer;
  color: white;
}

/* 
MEDIA QUERIES
*/

@media (min-width: 480px) and (max-width: 768px) {
  body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Lato", sans-serif;
  }
  .logo {
    margin: 0;
  }
  .p-2 {
    margin: 15px 0 50px 0;
    font-size: 0.8em;
  }
}

@media (min-width: 769px) {
  body {
    /* width: 90%; */
    overflow-y: hidden;
  }
  .whole {
    display: flex;
    align-items: stretch;
  }
  .main-content {
    margin: 0 auto;
  }
}
